# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
receiveApp/node_modules/.bin/mime
receiveApp/node_modules/accepts/HISTORY.md
receiveApp/node_modules/accepts/index.js
receiveApp/node_modules/accepts/LICENSE
receiveApp/node_modules/accepts/package.json
receiveApp/node_modules/accepts/README.md
receiveApp/node_modules/array-flatten/array-flatten.js
receiveApp/node_modules/array-flatten/LICENSE
receiveApp/node_modules/array-flatten/package.json
receiveApp/node_modules/array-flatten/README.md
receiveApp/node_modules/body-parser/HISTORY.md
receiveApp/node_modules/body-parser/index.js
receiveApp/node_modules/body-parser/LICENSE
receiveApp/node_modules/body-parser/package.json
receiveApp/node_modules/body-parser/README.md
receiveApp/node_modules/bytes/History.md
receiveApp/node_modules/bytes/index.js
receiveApp/node_modules/bytes/LICENSE
receiveApp/node_modules/bytes/package.json
receiveApp/node_modules/bytes/Readme.md
receiveApp/node_modules/content-disposition/HISTORY.md
receiveApp/node_modules/content-disposition/index.js
receiveApp/node_modules/content-disposition/LICENSE
receiveApp/node_modules/content-disposition/package.json
receiveApp/node_modules/content-disposition/README.md
receiveApp/node_modules/content-type/HISTORY.md
receiveApp/node_modules/content-type/index.js
receiveApp/node_modules/content-type/LICENSE
receiveApp/node_modules/content-type/package.json
receiveApp/node_modules/content-type/README.md
receiveApp/node_modules/cookie/HISTORY.md
receiveApp/node_modules/cookie/index.js
receiveApp/node_modules/cookie/LICENSE
receiveApp/node_modules/cookie/package.json
receiveApp/node_modules/cookie/README.md
receiveApp/node_modules/cookie-signature/.npmignore
receiveApp/node_modules/cookie-signature/History.md
receiveApp/node_modules/cookie-signature/index.js
receiveApp/node_modules/cookie-signature/package.json
receiveApp/node_modules/cookie-signature/Readme.md
receiveApp/node_modules/debug/.coveralls.yml
receiveApp/node_modules/debug/.eslintrc
receiveApp/node_modules/debug/.npmignore
receiveApp/node_modules/debug/.travis.yml
receiveApp/node_modules/debug/CHANGELOG.md
receiveApp/node_modules/debug/component.json
receiveApp/node_modules/debug/karma.conf.js
receiveApp/node_modules/debug/LICENSE
receiveApp/node_modules/debug/Makefile
receiveApp/node_modules/debug/node.js
receiveApp/node_modules/debug/package.json
receiveApp/node_modules/debug/README.md
receiveApp/node_modules/debug/src/browser.js
receiveApp/node_modules/debug/src/debug.js
receiveApp/node_modules/debug/src/index.js
receiveApp/node_modules/debug/src/inspector-log.js
receiveApp/node_modules/debug/src/node.js
receiveApp/node_modules/depd/History.md
receiveApp/node_modules/depd/index.js
receiveApp/node_modules/depd/LICENSE
receiveApp/node_modules/depd/package.json
receiveApp/node_modules/depd/Readme.md
receiveApp/node_modules/destroy/index.js
receiveApp/node_modules/destroy/LICENSE
receiveApp/node_modules/destroy/package.json
receiveApp/node_modules/destroy/README.md
receiveApp/node_modules/ee-first/index.js
receiveApp/node_modules/ee-first/LICENSE
receiveApp/node_modules/ee-first/package.json
receiveApp/node_modules/ee-first/README.md
receiveApp/node_modules/encodeurl/HISTORY.md
receiveApp/node_modules/encodeurl/index.js
receiveApp/node_modules/encodeurl/LICENSE
receiveApp/node_modules/encodeurl/package.json
receiveApp/node_modules/encodeurl/README.md
receiveApp/node_modules/escape-html/index.js
receiveApp/node_modules/escape-html/LICENSE
receiveApp/node_modules/escape-html/package.json
receiveApp/node_modules/escape-html/Readme.md
receiveApp/node_modules/etag/HISTORY.md
receiveApp/node_modules/etag/index.js
receiveApp/node_modules/etag/LICENSE
receiveApp/node_modules/etag/package.json
receiveApp/node_modules/etag/README.md
receiveApp/node_modules/express/History.md
receiveApp/node_modules/express/index.js
receiveApp/node_modules/express/LICENSE
receiveApp/node_modules/express/package.json
receiveApp/node_modules/express/Readme.md
receiveApp/node_modules/finalhandler/HISTORY.md
receiveApp/node_modules/finalhandler/index.js
receiveApp/node_modules/finalhandler/LICENSE
receiveApp/node_modules/finalhandler/package.json
receiveApp/node_modules/finalhandler/README.md
receiveApp/node_modules/forwarded/HISTORY.md
receiveApp/node_modules/forwarded/index.js
receiveApp/node_modules/forwarded/LICENSE
receiveApp/node_modules/forwarded/package.json
receiveApp/node_modules/forwarded/README.md
receiveApp/node_modules/fresh/HISTORY.md
receiveApp/node_modules/fresh/index.js
receiveApp/node_modules/fresh/LICENSE
receiveApp/node_modules/fresh/package.json
receiveApp/node_modules/fresh/README.md
receiveApp/node_modules/http-errors/HISTORY.md
receiveApp/node_modules/http-errors/index.js
receiveApp/node_modules/http-errors/LICENSE
receiveApp/node_modules/http-errors/package.json
receiveApp/node_modules/http-errors/README.md
receiveApp/node_modules/iconv-lite/Changelog.md
receiveApp/node_modules/iconv-lite/LICENSE
receiveApp/node_modules/iconv-lite/package.json
receiveApp/node_modules/iconv-lite/README.md
receiveApp/node_modules/iconv-lite/encodings/dbcs-codec.js
receiveApp/node_modules/iconv-lite/encodings/dbcs-data.js
receiveApp/node_modules/iconv-lite/encodings/index.js
receiveApp/node_modules/iconv-lite/encodings/internal.js
receiveApp/node_modules/iconv-lite/encodings/sbcs-codec.js
receiveApp/node_modules/iconv-lite/encodings/sbcs-data-generated.js
receiveApp/node_modules/iconv-lite/encodings/sbcs-data.js
receiveApp/node_modules/iconv-lite/encodings/utf7.js
receiveApp/node_modules/iconv-lite/encodings/utf16.js
receiveApp/node_modules/iconv-lite/encodings/tables/big5-added.json
receiveApp/node_modules/iconv-lite/encodings/tables/cp936.json
receiveApp/node_modules/iconv-lite/encodings/tables/cp949.json
receiveApp/node_modules/iconv-lite/encodings/tables/cp950.json
receiveApp/node_modules/iconv-lite/encodings/tables/eucjp.json
receiveApp/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
receiveApp/node_modules/iconv-lite/encodings/tables/gbk-added.json
receiveApp/node_modules/iconv-lite/encodings/tables/shiftjis.json
receiveApp/node_modules/inherits/inherits_browser.js
receiveApp/node_modules/inherits/inherits.js
receiveApp/node_modules/inherits/LICENSE
receiveApp/node_modules/inherits/package.json
receiveApp/node_modules/inherits/README.md
receiveApp/node_modules/ipaddr.js/ipaddr.min.js
receiveApp/node_modules/ipaddr.js/LICENSE
receiveApp/node_modules/ipaddr.js/package.json
receiveApp/node_modules/ipaddr.js/README.md
receiveApp/node_modules/media-typer/HISTORY.md
receiveApp/node_modules/media-typer/index.js
receiveApp/node_modules/media-typer/LICENSE
receiveApp/node_modules/media-typer/package.json
receiveApp/node_modules/media-typer/README.md
receiveApp/node_modules/merge-descriptors/HISTORY.md
receiveApp/node_modules/merge-descriptors/index.js
receiveApp/node_modules/merge-descriptors/LICENSE
receiveApp/node_modules/merge-descriptors/package.json
receiveApp/node_modules/merge-descriptors/README.md
receiveApp/node_modules/methods/HISTORY.md
receiveApp/node_modules/methods/index.js
receiveApp/node_modules/methods/LICENSE
receiveApp/node_modules/methods/package.json
receiveApp/node_modules/methods/README.md
receiveApp/node_modules/mime/.npmignore
receiveApp/node_modules/mime/CHANGELOG.md
receiveApp/node_modules/mime/cli.js
receiveApp/node_modules/mime/LICENSE
receiveApp/node_modules/mime/mime.js
receiveApp/node_modules/mime/package.json
receiveApp/node_modules/mime/README.md
receiveApp/node_modules/mime/types.json
receiveApp/node_modules/mime/src/build.js
receiveApp/node_modules/mime/src/test.js
receiveApp/node_modules/mime-db/db.json
receiveApp/node_modules/mime-db/HISTORY.md
receiveApp/node_modules/mime-db/index.js
receiveApp/node_modules/mime-db/LICENSE
receiveApp/node_modules/mime-db/package.json
receiveApp/node_modules/mime-db/README.md
receiveApp/node_modules/mime-types/HISTORY.md
receiveApp/node_modules/mime-types/index.js
receiveApp/node_modules/mime-types/LICENSE
receiveApp/node_modules/mime-types/package.json
receiveApp/node_modules/mime-types/README.md
receiveApp/node_modules/ms/index.js
receiveApp/node_modules/ms/license.md
receiveApp/node_modules/ms/package.json
receiveApp/node_modules/ms/readme.md
receiveApp/node_modules/negotiator/HISTORY.md
receiveApp/node_modules/negotiator/index.js
receiveApp/node_modules/negotiator/LICENSE
receiveApp/node_modules/negotiator/package.json
receiveApp/node_modules/negotiator/README.md
receiveApp/node_modules/on-finished/HISTORY.md
receiveApp/node_modules/on-finished/index.js
receiveApp/node_modules/on-finished/LICENSE
receiveApp/node_modules/on-finished/package.json
receiveApp/node_modules/on-finished/README.md
receiveApp/node_modules/parseurl/HISTORY.md
receiveApp/node_modules/parseurl/index.js
receiveApp/node_modules/parseurl/LICENSE
receiveApp/node_modules/parseurl/package.json
receiveApp/node_modules/parseurl/README.md
receiveApp/node_modules/path-to-regexp/History.md
receiveApp/node_modules/path-to-regexp/index.js
receiveApp/node_modules/path-to-regexp/LICENSE
receiveApp/node_modules/path-to-regexp/package.json
receiveApp/node_modules/path-to-regexp/Readme.md
receiveApp/node_modules/proxy-addr/HISTORY.md
receiveApp/node_modules/proxy-addr/index.js
receiveApp/node_modules/proxy-addr/LICENSE
receiveApp/node_modules/proxy-addr/package.json
receiveApp/node_modules/proxy-addr/README.md
receiveApp/node_modules/qs/.editorconfig
receiveApp/node_modules/qs/.eslintignore
receiveApp/node_modules/qs/.eslintrc
receiveApp/node_modules/qs/CHANGELOG.md
receiveApp/node_modules/qs/LICENSE
receiveApp/node_modules/qs/package.json
receiveApp/node_modules/qs/README.md
receiveApp/node_modules/qs/test/.eslintrc
receiveApp/node_modules/qs/test/index.js
receiveApp/node_modules/qs/test/parse.js
receiveApp/node_modules/qs/test/stringify.js
receiveApp/node_modules/qs/test/utils.js
receiveApp/node_modules/range-parser/HISTORY.md
receiveApp/node_modules/range-parser/index.js
receiveApp/node_modules/range-parser/LICENSE
receiveApp/node_modules/range-parser/package.json
receiveApp/node_modules/range-parser/README.md
receiveApp/node_modules/raw-body/HISTORY.md
receiveApp/node_modules/raw-body/index.d.ts
receiveApp/node_modules/raw-body/index.js
receiveApp/node_modules/raw-body/LICENSE
receiveApp/node_modules/raw-body/package.json
receiveApp/node_modules/raw-body/README.md
receiveApp/node_modules/safe-buffer/index.d.ts
receiveApp/node_modules/safe-buffer/index.js
receiveApp/node_modules/safe-buffer/LICENSE
receiveApp/node_modules/safe-buffer/package.json
receiveApp/node_modules/safe-buffer/README.md
receiveApp/node_modules/safer-buffer/dangerous.js
receiveApp/node_modules/safer-buffer/LICENSE
receiveApp/node_modules/safer-buffer/package.json
receiveApp/node_modules/safer-buffer/Porting-Buffer.md
receiveApp/node_modules/safer-buffer/Readme.md
receiveApp/node_modules/safer-buffer/safer.js
receiveApp/node_modules/safer-buffer/tests.js
receiveApp/node_modules/send/HISTORY.md
receiveApp/node_modules/send/index.js
receiveApp/node_modules/send/LICENSE
receiveApp/node_modules/send/package.json
receiveApp/node_modules/send/README.md
receiveApp/node_modules/send/node_modules/ms/index.js
receiveApp/node_modules/send/node_modules/ms/license.md
receiveApp/node_modules/send/node_modules/ms/package.json
receiveApp/node_modules/send/node_modules/ms/readme.md
receiveApp/node_modules/serve-static/HISTORY.md
receiveApp/node_modules/serve-static/index.js
receiveApp/node_modules/serve-static/LICENSE
receiveApp/node_modules/serve-static/package.json
receiveApp/node_modules/serve-static/README.md
receiveApp/node_modules/setprototypeof/index.d.ts
receiveApp/node_modules/setprototypeof/index.js
receiveApp/node_modules/setprototypeof/LICENSE
receiveApp/node_modules/setprototypeof/package.json
receiveApp/node_modules/setprototypeof/README.md
receiveApp/node_modules/setprototypeof/test/index.js
receiveApp/node_modules/statuses/codes.json
receiveApp/node_modules/statuses/HISTORY.md
receiveApp/node_modules/statuses/index.js
receiveApp/node_modules/statuses/LICENSE
receiveApp/node_modules/statuses/package.json
receiveApp/node_modules/statuses/README.md
receiveApp/node_modules/toidentifier/index.js
receiveApp/node_modules/toidentifier/LICENSE
receiveApp/node_modules/toidentifier/package.json
receiveApp/node_modules/toidentifier/README.md
receiveApp/node_modules/type-is/HISTORY.md
receiveApp/node_modules/type-is/index.js
receiveApp/node_modules/type-is/LICENSE
receiveApp/node_modules/type-is/package.json
receiveApp/node_modules/type-is/README.md
receiveApp/node_modules/unpipe/HISTORY.md
receiveApp/node_modules/unpipe/index.js
receiveApp/node_modules/unpipe/LICENSE
receiveApp/node_modules/unpipe/package.json
receiveApp/node_modules/unpipe/README.md
receiveApp/node_modules/utils-merge/.npmignore
receiveApp/node_modules/utils-merge/index.js
receiveApp/node_modules/utils-merge/LICENSE
receiveApp/node_modules/utils-merge/package.json
receiveApp/node_modules/utils-merge/README.md
receiveApp/node_modules/vary/HISTORY.md
receiveApp/node_modules/vary/index.js
receiveApp/node_modules/vary/LICENSE
receiveApp/node_modules/vary/package.json
receiveApp/node_modules/vary/README.md
